body {
  width: 1920px;
  height: 1080px;
  background-image: url("../images/4901403.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  position: absolute;
  height: 40px;
  width: 99%;
  margin: auto;
  background-color: lavender;
  border-radius: 10px;
}

.hero a {
  padding: 20px;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.hero input[type="search"] {
  border: 0ch;
  background-color: lightsteelblue;
  border-radius: 10px;
  color: lavender;
  position: absolute;
  width: 10%;
  height: 50%;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  outline: none;
}
input[type="search"]:hover {
  border-color: lavender;
}
.hero button {
  border: none;
  background-color: lavender;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 10px;
  height: 10px;
  transform: translateY(-80%);
}
.btn {
  position: fixed;
  top: 50%;
  left: 0;
  width: 10%;
  height: 20%;
  background-color: lavender;
  border-radius: 0px 10px 10px 0px;
}
.btn a {
  text-decoration: none;
  color: black;
  padding: 15px;
  display: block;
  font-size: 20px;
}
.button {
  width: 40px;
  top: 47.5%;
  left: 0;
  position: fixed;
  border: none;
  background-color: transparent;
  color: lavender;
}
.button:hover {
  background-color: lightsteelblue;
  border-radius: 0px 10px 10px 0px;
}

.images {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.534);
  opacity: 1;
  border-radius: 10px;
  width: 60%;
  height: 50%;
  top: 20%;
  left: -50%;
  transform: translateY(-50%);
  transform: translateX(30%);
  text-align: center;
}

.images img {
  opacity: 1;
  border-radius: 50px;
  padding: 20px;
  width: 20%;
  height: 90%;
}
.button1 {
  width: 40px;
  top: 44%;
  left: 78%;
  position: absolute;
  border: none;
  background-color: transparent;
  color: lavender;
  border-radius: 0px 10px 10px 0px;
}
.button1:hover {
  background-color: rgba(251, 251, 251, 0.514);
  border-radius: 0px 10px 10px 0px;
}
