body {
  display: flex;
  justify-content: center;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
  background-color: darkslategrey;
}
table {
	width:50%;
	border:1px solid lightslategrey;
}
th {
    background-color: white;
    color: darkslategrey;
}
tr{
  background-color: lightblue;
  text-align: center;
}
input[type="number"]{
    display: flex;
    width: 97%;
    text-align: center;
}
button{
  background-color: lightslategrey;
  color: white;
  font-weight: bolder;
}
.p{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bolder;
}